    body {
        background-color: rgb(146, 146, 146)
    }

    h1 {
         text-align: center;
    
    }
    
    p{
        text-align: center;
    }

    b {
        color: rgb(75, 159, 255);  
    }