    body {
        background-color: darkgray;

    }

    h1 {
         text-align: center;
    
    }
    
    p{
        text-align: center;
    }

    b {
        color: rgb(230, 250, 117);  
    }       

    p {
        text-align: center;

    
    }

    #banner {
        width: 50%;
        
    }
    
    main {
       color:rgb(0, 0, 0)

    
    }

    header {

        color:rgb(244, 255, 97)
    }

    j {
      color:rgb(255, 231, 93)
    }
    
    #images {
         width: 50%;
         
     }     

     h2 {
        text-align: center;
     }
       
     

     
    


         