    body {
        background-color: rgb(121, 121, 121)
    }

    h1 {
         text-align: center;
    
    }
    
    p{
        text-align: center;
    }

    b {
        color: rgb(75, 159, 255);  
    }       

    p {
        text-align: center;



    }